# Directory CSV

**Dictionnary CSV**

In [3]:
from datetime import date
import pandas as pd

list_first_name = []
list_last_name = []
list_phone_number = []
list_creation_date = []

choix = input("Do you want to add a contact ? (Y/N) : ")

while choix == "Y":
    first_name = input("First Name : ")
    list_first_name.append(first_name)
    last_name = input("Last Name : ")
    list_last_name.append(last_name)
    phone_number = input("Phone Number : ")
    list_phone_number.append(phone_number)
    list_creation_date.append(date.today())
    choix = input("Do you want to add a contact ? (Y/N) : ")

keys = ['First Name', 'Last Name', 'Phone Number', 'Creation Date']
values = [list_first_name, list_last_name, list_phone_number, list_creation_date]
data = dict(zip(keys, values))
data_frame = pd.DataFrame(data)

data_frame.to_csv('Data/contact_dict.csv', index = False)
contact_csv = pd.read_csv('Data/contact_dict.csv')
contact_csv

  First Name    Last Name  Phone Number Creation Date
0     Victor  Deschateaux           695    2023-01-26
1       Anis       Bouzid           612    2023-01-26

**Class CSV**

  First Name Last Name  Phone Number Creation Date
0       Anis    Bouzid           612    2023-01-26